<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<section class="page-section portfolio">


    <div class="container">
        <h1 class="masthead-heading mb-0">
            <%=title%>
        </h1>

        <div class="text-center">
            <h2 class="page-section-heading text-secondary mb-0 d-inline-block">
                <%=content.title%>
            </h2>
        </div>
        <button class="delete-me" id="<%=id%>">delete me</button>

        <p class="mb-5">
            <%=content.text%>
        </p>

    </div>
</section>

<!-- 
<script src="../../../public/js/scripts.js"> -->

</script>


<%- include('../partials/footer') %>