<%- include('../partials/head') %>

<body id="zmanim">
    <%- include('../partials/nav') %>
    <%- include('../partials/header') %>

 </header>
    <div class="container d-flex align-items-center flex-column">

    </div>
   

    <section class="page-section ">
      
    </section>




  
  
    
  
   
    <section class="page-section" id="contact">
        <div class="container">


            <h1><%=zman%></h1>
        </div>
    </section>
    <%- include('../partials/footer');%>